*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #101010;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: .5px;
    cursor: pointer;
    margin-left: 1%;
    
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

span{
    color:#f9004d ;
    
}

.detel p{
    color: #fcfc;
    line-height: 22px;
    font-size: 25px;
    line-height: 40px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 50px 0;
    border-radius: 10px;
}
.detel .button{
    background-color: #f9004d ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.detel .button:hover{
    background-color: transparent;
    border: 2px solid #212121;
    cursor: pointer;
    color: #f9004d;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color:#101010;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content:  space-around;
}

.about-text h2{
    color:white ;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 25px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    
}


.social{
    margin-left: 8%;
    margin-top: 20px;
}

.social a{
    font-size: 30px;
    color: white;
    margin-right: 20px;
}

.social a:hover{
    color: #f9004d;
}

.skills{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

.card{
    height: 365px;
    width: 335px;
    padding: 40px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 30px 0px;
    color:#f9004d;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color:#f9004d ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 30px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    
}

.contact{
    width: 100%;
    background: #101010;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact p{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .button-two{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
} 

.contact .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}


.socialmedia{
     display: flex;
}

.socialmedia a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #f9004d;
    margin: 20px 10px;
    border-radius: 50%;
    
    text-decoration: none;


}

.socialmedia a:hover{
    transform: scale(1.8);
    transition: .3s;   
}

.end{
    position: absolute;
    color:#f9004d;
    bottom: 35px;
    font-size: 14px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}